@import "preferences.css";
/* Fonts */
@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: 'Source Code Pro Medium';
    src: url('fonts/SourceCodePro-Medium.ttf');
}


body {
  font-family: 'Source Code Pro';
  margin: 0;
}
div.numbers {
  display: block;
  float: left;
  width: 300px;
}

/* Buttons */
button {
  min-width: 75px;
  height: 75px;
  margin: 0;
  display: inline;
  float: left;
  font-family: 'Source Code Pro';
  font-size: 24px;
  color: var(--number-button-text-color);
  background-color: var(--number-button-color);
  border: 2px solid var(--number-button-color);
  transition: 0.25s;
  outline: none;
  user-select: none;
}
button:hover{
  background-color: var(--number-button-hover-color);
  border-color: var(--number-button-hover-color);
}
button:active {
  background-color: var(--number-button-active-color);
  border-color: var(--number-button-active-color);
}
button#zero-button {
  width: 150px;
}
button.mathFunction {
  color: var(--math-button-text-color);
  background-color: var(--math-button-color);
  border: 2px solid var(--math-button-color);
}
button.mathFunction:hover {
  background-color: var(--math-button-hover-color);
  border-color: var(--math-button-hover-color);
}
button.mathFunction:active {
  background-color: var(--math-button-active-color);
  border-color: var(--math-button-active-color);
}
button.otherFunctions {
  color: var(--other-button-text-color);
  background-color: var(--other-button-color);
  border: 2px solid var(--other-button-color);
}
button.otherFunctions:hover {
  background-color: var(--other-button-hover-color);
  border-color: var(--other-button-hover-color);
}
button.otherFunctions:active {
  background-color: var(--other-button-active-color);
  border-color: var(--other-button-active-color);
}
div.titleBar {
  height: 35px;
  padding: 0;
  padding-top: 0;
  margin: 0;
  margin-top: 0;
  background-color: var(--result-color);
  -webkit-app-region: drag;
  display: none;
}
h1#output {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Source Code Pro Medium';
  font-size: 48px;
  color: var(--result-text-color);
  background-color: var(--result-color);
}
